* text=auto

/resources/js/kontour.js -merge linguist-vendored
/resources/css/kontour.css -merge linguist-vendored

/tests export-ignore
/package.json export-ignore
/webpack.mix.js export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.editorconfig export-ignore
phpunit.xml.dist export-ignore
phpcs.xml.dist export-ignore
DEVELOPMENT.md export-ignore
