* text=auto

/composer.lock -merge
/resources/js/kontour.js -merge
/resources/css/kontour.css -merge

/tests export-ignore
/package.json export-ignore
/webpack.mix.js export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.editorconfig export-ignore
.travis.yml
phpunit.xml.dist export-ignore
phpcs.xml.dist export-ignore
DEVELOPMENT.md export-ignore
