/vendor
/node_modules
composer.lock
package-lock.json
yarn.lock
tags
*.swp
*.swo
.idea
.DS_Store
/build
mix-manifest.json
phpunit.xml
.phpunit.result.cache
phpcs.xml
/tests/Browser/console/
/tests/Browser/screenshots/
