input, select, textarea, button {
  font-size: inherit;
  line-height: inherit;
}

[type="text"], [type="email"], [type="password"], textarea, fieldset {
  width: 100%;
  max-width: 65ch;
}

[type="email"], [type="password"] {
  max-width: 35ch;
}

input, select, textarea {
  border-width: 1px;

  &:invalid {
    border-color: $kontour-error-color;
    border-style: solid;
  }
  + {
    .error, [id*="error" i] {
      margin-top: 0;
    }
  }
}

.error, [id*="error" i] {
  color: $kontour-error-color;
}

fieldset {
  border: $kontour-border;
}
