$kontour-hamburger-width: 4*$kontour-spacing-base !default;

// Main layout with all major blocks as direct children of the body
body {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;

  > * {
    flex-grow: 1;
    margin-top: 0;
    padding: $kontour-spacing-base;
  }

  > header {
    flex-basis: 100%;
    min-height: $kontour-hamburger-width;
    max-height: max-content;
  }

  > main {
    flex-grow: 1000;
    flex-basis: 45ch;
    min-height: calc(100vh - #{10*$kontour-spacing-base});
  }

  > footer {
    flex-basis: 100%;
  }
}

#skip-to-content {
  position: absolute;
  max-width: 33%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  background: white;
  padding: 1ch;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

[data-kontour-section="kontourHeader"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  padding: 0;

  * {
    margin-top: 0;
  }

  > * {
    padding: $kontour-spacing-base/2;
  }

  > :first-child {
    margin-right: auto;

    [data-kontour-menu-expanded] & {
      margin-left: $kontour-hamburger-width;
    }
  }
}

[data-kontour-section="kontourNav"] {
  [data-kontour-menu-expanded] & {
    flex-basis: 100%;
  }

  > button {
    width: $kontour-hamburger-width;
    padding: 1ch;
    line-height: 0;

    [data-kontour-menu-expanded] & {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  > button + * {
    margin-top: 0;
  }
}

[data-kontour-section="kontourWidgets"] {
  flex-grow: 500;
  flex-basis: 0;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  padding: 0;

  > * {
    flex-grow: 1;
    margin-top: 0;
    padding: $kontour-spacing-base;
  }
}

[data-kontour-section="kontourFooter"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;

  padding: $kontour-spacing-base/2;

  > * {
    margin: $kontour-spacing-base/4;
    padding: $kontour-spacing-base/4;

    text-align: center;
  }
}

header[data-kontour-section="kontourToolHeader"] + * {
  margin-top: $kontour-spacing-base;
}

[data-kontour-section="kontourStickyActions"] {
  position: sticky;
  top: 0;
  bottom: 0;
}
