body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    > * {
        flex-shrink: 0;
        margin-top: 0;
    }
    
    > header:last-of-type + * {
        flex-grow: 1;
    }
}


