body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

[data-kontour-section="header"],
[data-kontour-section="footer"] {
    flex-shrink: 0;
}

[data-kontour-section="main"] {
    flex-grow: 1;
}

