// Utilities for screenreaders

/*
 * Visually hide an element, until it receives focus.
 *
 * This has good browser compatibility but doesn't work when
 * the element has any focusable descendants.
 *
 * Supports IE9+
 */
.sr-only:not(:focus):not(:active) {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

/*
 * Visually hide any element until it, or anything inside, receives focus.
 *
 * This can be useful to hide a non-interactive element grouping
 * some interactive elements, revealing them all together.
 *
 * Warning: Has no effect in IE or pre-chromium Edge!
 */
.sr-only-focusable:not(:focus-within):not(:active) {
  position: absolute;
  clip-path: inset(50%);
}
