$kontour-border: 1px solid transparentize(black, 0.95) !default;
$kontour-success-color: green !default;
$kontour-warning-color: orange !default;
$kontour-error-color: red !default;
$kontour-unimposing-color: gray;
