@import 'variables';
@import 'reset';

body {
  font-family: system-ui, sans-serif;
}

[data-kontour-section="header"] {
  border-bottom: $kontour-border;

  > :first-child {
    font-size: 2em;
  }
}

@import 'layout';
@import 'forms';
@import 'widgets/crumbtrail';
@import 'widgets/recentVisits';
@import 'widgets/menu';
@import 'widgets/userAccount';
@import 'widgets/message';
@import 'utilities';
