@import "variables";
@import "reset";

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
}

header {
  border-bottom: $kontour-border;
}

body > footer {
  background: $kontour-tinted-background-color;
}

[aria-current="page"] {
  &,
  a {
    text-decoration: none;
  }
}

[data-kontour-section="kontourHeader"] {
  > :first-child {
    font-size: 2em;
    color: $kontour-unimposing-color;
    text-decoration: none;
  }
}

[data-kontour-section="kontourNav"] {
  > button {
    all: inherit;
    line-height: 0;

    &:focus {
      outline: currentColor 2px solid;
    }

    rect {
      fill: currentColor;
    }
  }
}

[data-kontour-widget] {
  header {
    color: $kontour-unimposing-color;
  }

  a {
    color: inherit;
  }

  &ul,
  &ol,
  ul,
  ol {
    @extend .list-unstyled;
  }
}

@import "layout";
@import "forms";
@import "widgets/crumbtrail";
@import "widgets/menu";
@import "widgets/userAccount";
@import "widgets/message";
@import "widgets/recentVisits";
@import "utilities";
@import "screenreaders";
