[data-kontour-widget="crumbtrail"] {
  > * {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }

  li {
    white-space: pre-line;
  }

  * + li::before {
    content: "→";
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
