[data-kontour-widget="crumbtrail"] {
  > * {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }

  li {
    white-space: pre-line;
  }

  * + li::before {
    content: "\2192";
    padding-left: $kontour-spacing-base/2;
    padding-right: $kontour-spacing-base/2;
  }
}
