[data-kontour-widget="menu"] {
  small {
    color: $kontour-unimposing-color;
  }

  li ul {
    margin-top: 0;
    padding-left: 1ch;
  }

  [aria-current] {
    position: relative;

    ::before {
      content: " \00A0\2023";
      position: absolute;
      left: 100%;
    }
  }
}
