[data-kontour-widget="menu"] {
  small {
    color: $kontour-unimposing-color;
  }

  li ul {
    margin-top: 0;
    padding-left: 1ch;
  }

  [aria-current] > a {
    position: relative;

    &::before {
      content: " \2023";
      position: absolute;
      left: calc(100% + 0.5ch);
    }
  }
}
