[data-kontour-widget$="RecentVisits"] {
  a {
    display: inline-block;
    max-width: 20ch;
    width: 100%;
    white-space: nowrap;
  }

  a:not(:hover):not(:focus):not(:active) {
    overflow: hidden;
    text-overflow: fade;
  }
}
