[data-kontour-widget="userAccount"] {
  color: $kontour-unimposing-color;

  display: flex;
  align-items: center;

  form {
    line-height: 0;
  }

  button {
    @extend .button-reset;

    width: 3ch;
    padding: 0;

    margin-left: 0.5ch;
  }

  polygon {
    fill: currentColor;
  }
}
