[data-kontour-widget="userAccount"] {
  color: $kontour-unimposing-color;

  display: flex;
  align-items: center;

  form {
    line-height: 0;
  }

  button {
    border: none;
    background: none;

    width: 3ch;
    padding: 0;
  }
}
